body{
    font-family: "IBM Plex Sans";
    margin: 0;
    height: 100vh;
    width: 100%;
}

#calendar-container{
    display: flex;
    height: calc(100vh - 20px);
}

#calendar-container > div{
    margin: 10px;
}

#calendar-container #calendar.left{
    width: 66%;
}

#calendar-container #form.right{
    background: #eee;
    border-radius: 5px;
    width: 34%;
    padding: 0 20px 15px;
    box-sizing: border-box;
    font-size: 15px;
    height: 100%;
    overflow-y: scroll;
}

#calendar-container #form.right .label{
    font-weight: 600;
    font-size: 17px;
    margin: 15px 0 0;
}

#calendar-container #form.right .label.required:after{
    content: " *";
    color: #c0392b;
}

#calendar-container #form.right input[type = "text"]{
    width: 100%;
    padding: 8px 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    margin-top: 2px;
    font-size: 12px;
}

#calendar-container #form.right #date-input{
    margin-top: 5px;
}

#calendar-container #form.right #date-input:focus{
    outline: none;
}

#calendar-container #form.right button{
    background: #2C3E50;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 12px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.booked, .pending{
    background: #24252a;
    border-color: #24252a;
    padding: 5px;
}

.pending{
    background: repeating-linear-gradient(
      45deg,
      #24252a,
      #24252a 10px,
      #424659 10px,
      #424659 20px
    );
}

.gone{
    text-align: center;
    color: red;
    display: none;
}

#div-num-table-chair{
    display: none;
}

#submitPage{
    display: none;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

#submitPage p{
    text-align: center;
}

#refreshPage{
    text-decoration: underline;
}
    
#refreshPage:hover{
    color:gray;
}
