body{
    font-family: "IBM Plex Sans";
    margin: 0;
    height: 100vh;
    width: 100%;
}

#calendar-container{
    display: flex;
    height: calc(100vh - 20px);
}

#calendar-container > div{
    margin: 10px;
}

#calendar-container #calendar.left{
    width: 66%;
}

#calendar-container #form.right{
    background: #eee;
    border-radius: 5px;
    width: 34%;
    padding: 0 20px 15px;
    box-sizing: border-box;
    font-size: 15px;
    height: 100%;
    overflow-y: scroll;
}

#calendar-container #form.right .label{
    font-weight: 600;
    font-size: 17px;
    margin: 15px 0 0;
}

#calendar-container #form.right .label.required:after{
    content: " *";
    color: #c0392b;
}

#calendar-container #form.right input[type = "text"]{
    width: 100%;
    padding: 8px 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    margin-top: 2px;
    font-size: 12px;
}

#calendar-container #form.right #date-input{
    margin-top: 5px;
}

#calendar-container #form.right #date-input:focus{
    outline: none;
}

button{
    background: #2C3E50;
    border: none;
    border-radius: 5px;
    color: white;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 12px;
    padding: 8px 10px;
}

button.light{
    color: #2C3E50;
    background: white;
}

#calendar-container #form.right button{
    font-size: 14px;
    font-weight: bold;
    padding: 10px 12px;
}

.booked, .pending{
    background: #24252a;
    border-color: #24252a;
    padding: 5px;
}

.pending{
    background: repeating-linear-gradient(
      45deg,
      #24252a,
      #24252a 10px,
      #424659 10px,
      #424659 20px
    );
}

.gone{
    text-align: center;
    color: red;
    display: none;
}

#div-num-table-chair{
    display: none;
}

#submitPage{
    display: none;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

#submitPage p{
    text-align: center;
}

#refreshPage{
    text-decoration: underline;
}

#refreshPage:hover{
    color:gray;
}

/* Tooltip */
.tooltip {
	position: absolute;
    top: 0;
	background: #e4e9ed;
    z-index: 100;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    color: black;
    border: 1px solid rgb(191, 191, 191);
}

.tooltip:after, .tooltip:before {
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tooltip:after {
	border-color: rgba(136, 183, 213, 0);
	border-width: 5px;
	margin-top: -5px;
}

.tooltip:before {
	border-color: rgba(245, 239, 223, 0);
	border-width: 7px;
	margin-top: -7px;
}

/* Left tooltip */
.tooltip-left:after, .tooltip-left:before {
	right: 100%;
}

.tooltip-left:after {
	border-right-color: #e4e9ed;
}

.tooltip-left:before {
	border-right-color: rgb(191, 191, 191);
}

/* Right tooltip */
.tooltip-right:after, .tooltip-right:before {
	left: 100%;
}

.tooltip-right:after {
	border-left-color: #e4e9ed;
}

.tooltip-right:before {
	border-left-color: rgb(191, 191, 191);
}

.tooltip p{
    margin: 0 0 5px 0;
}

.tooltip button{
    width: calc((100% - 5px) / 2);
    box-sizing: border-box;
}

.tooltip button:first-of-type{
    margin-right: 5px;
}

/* Selection */
.fc-time-grid-event.fc-event.fc-start.fc-end.fc-mirror{
    padding: 5px;
    background: #4b77be;
}
